<h2>タスク編集</h2>
<div class="form-edit">
  <%= form_with(model:task, url:task_path, method: :patch) do |f| %>
    <div id="error"></div>
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>

    <div class="title-box box">
      <%= f.label :"タイトル" %>
      <%= f.text_field :title, class: "title", id: "edit-title" %>
    </div>

    <div class="content-box box">
      <%= f.label :"内容" %>
      <%= f.text_area :content, class: "content", id: "edit-content" %>
    </div>

    <div class="file-box">
      <%= f.file_field :files, multiple: true %>
    </div>

    <div class="in_charge-box box">
      <%= f.label :"担当者" %>
      <%= f.collection_select :in_charge_name, User.all, :name,:name, {}, {class: "in_charge_name", id: "edit_task_in_charge"} %>
    </div>

    <div class="progress-box box">
      <%= f.label :"進行度" %>
      <%= f.select :progress, Task.progresses.keys, {}, {class: "progress"} %>
    </div>

    <div class="submit-box">
      <%= link_to "削除", task_path(task), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "btn btn-danger pull-right destroy-btn" %>
      <%= f.submit "更新", class: "btn btn-primary pull-right", id:"task-edit-submit" %>
    </div>
  <% end %>
</div>
