<% tasks.each do |task| %>
  <div class="edit" id="<%= task.id %>">
    <div class="form-edit">
      <div class="title-box box" id="title-<%= task.id %>"></div>
      <div class="content-box box" id="content-<%= task.id %>"></div>
      <div class="file-box" id="file-<%= task.id %>"></div>
      <div class="in_charge-box box" id="in_charge-<%= task.id %>"></div>
      <div class="progress-box box" id="progress-<%= task.id %>"></div>
      <div class="submit-box" id="edit-<%= task.id %>"></div>
      <div id="end-<%= task.id %>"></div>
    </div>
  </div>
  <div class="task-index">
    <div class="index-box">
      <div class="category">
        <ul class="pull-right">
          <% if task.progress == "未着手" %>
            <li class="not-box">未</li>
          <% end %>
          <% if task.progress == "着手中" %>
            <li class="commencement-box">着</li>
          <% end %>
          <% if task.progress == "完了" %>
            <li class="completion-box">完</li>
          <% end %>
        </ul>
      </div>

      <div class="main-index">
        <div class="task-title">
          <h4><%= task.title %></h4>
        </div>
        <div class="task-content">
          <h4><%= task.content %></h4>
        </div>
        <%= link_to "編集", edit_task_path(task), method: :get, remote: true, class: "task-edit pull-right edit-btn" %>
        <!-- <div class="task-edit pull-right edit-btn">編集</div> -->
      </div>
      <div class="sub-index">
        <div class="file-index"></div>
        <div class="user-index">
          <ul>
            <li>担当者：<%= task.in_charge_name %></li>
            <li>登録者：<%= task.user.name %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
