<div class="new">
  <h2>タスク追加</h2>
  <div class="form-new">
    <%= form_with(model:@task, url:root_path, local:true, method: :post) do |f| %>
      <div class="title-box box">
        <%= f.label :"タイトル" %>
        <%= f.text_field :title, class: "title" %>
      </div>
      <div class="content-box box">
        <%= f.label :"内容" %>
        <%= f.text_area :content, class: "content" %>
      </div>
      <div class="file-box"></div>
      <div class="in_charge-box box">
        <%= f.label :"担当者" %>
        <%#= f.select :in_charge, User.tasks.keys, prompt: "-- 選択してください --" %>
      </div>
      <div class="submit-box">
        <%= f.submit "追加", class: "btn btn-primary pull-right", id:"task-new-submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="edit modal" id="edit-modal">
  <h2>タスク編集</h2>
  <div class="form-edit">
    <%= form_with(model:@task, url:root_path, local:true, method: :post) do |f| %>
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div class="title-box box">
        <%= f.label :"タイトル" %>
        <%= f.text_field :title, class: "title" %>
      </div>
      <div class="content-box box">
        <%= f.label :"内容" %>
        <%= f.text_area :content, class: "content" %>
      </div>
      <div class="file-box"></div>
      <div class="in_charge-box box">
        <%= f.label :"担当者" %>
        <%#= f.select :in_charge, User.tasks.keys, prompt: "-- 選択してください --" %>
      </div>
      <div class="progress-box box">
        <%= f.label :"進行度" %>
        <%#= f.select :progress, progress.keys, prompt: "-- 選択してください --" %>
      </div>
      <div class="submit-box">
        <%= f.submit "更新", class: "btn btn-primary pull-right", id:"task-new-submit" %>
      </div>
    <% end %>
  </div>
</div>
<div class="index">
  <div class="category-btn">
    <ul class="category-box">
      <li class="not-box" id="not-btn">未着手</li>
      <li class="commencement-box" id="commencement-btn">着手中</li>
      <li class="completion-box" id="completion-btn">完了</li>
    </ul>
  </div>
  <div id="task-all-index">
    <%#= render "task_index", tasks: @tasks %>
  </div>
  <div id="task-not-index">
    <%#= render "task_index", tasks: @tasks_not %>
  </div>
  <div id="task-commencement-index">
    <%#= render "task_index", tasks: @tasks_commencement %>
  </div>
  <div id="task-completion-index">
    <%#= render "task_index", tasks: @tasks_completion %>
  </div>
</div>
