<h2>招待</h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control", placeholder: "招待したい人のメールアドレスを入力して下さい" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "招待", class: "btn btn-info btn-block" %>
  </div>
<% end %>
