<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left header-title">
      <% if user_signed_in? %>
        <h1><%= link_to "タスク管理", root_path %></h1>
      <% else %>
        <h1>タスク管理</h1>
      <% end %>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to "#", class: "header-name",'data-toggle': :dropdown do %>
              <%= current_user.name %>
            <% end %>
            <ul class="dropdown-menu dropdown-link">
              <li class="new-btn" id="new-btn">
                <p class="dropdown_btn">追加</p>
                <%#= link_to "追加", "#", class: "dropdown_btn" %>
              </li>
              <li class="user_dropdown">
                <%= link_to "招待", new_user_invitation_path, data: {"turbolinks" => false}, class: "invitation-btn dropdown_btn" %>
              </li>
              <li class="user_dropdown">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: "dropdown_btn" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "login-btn" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
